@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
  border-radius: 10px;
}

.search .btn {
  border-radius: 10px;
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.btn:focus,
.btn:active {
  outline: none;
}

.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  border-radius: 10px 0 0 10px;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0 10px 10px 0;
}
